{% extends 'base.html' %}
{% block title %}Deposit{% endblock %}
{% block header%}Deposit{% endblock %}
{% block content %}
<style>table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: lightgrey;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }</style>
<div id="approvedContent" class="mt-4">
    <table border="1" style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr style="background-color: lightgrey;">
                <th>Profile Photo</th>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in approved_users %}
            <tr>
                <td><img src="{{ user.profile_photo }}" alt="Profile Photo" width="50" height="50"></td>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.amount }}</td>
                <td>{{ user.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}